<p>
  <b>商品名：<%= @Item.name %></b>
</p>

<p>
  <b>商品詳細：<%= @Item.description %></b>
</p>

<p>
  <b>価格：<%= @Item.price %></b>
</p>

<p>
  <b>売り手ID：<%= @Item.seller_id %></b>
</p>

<p>
  <b>電子メール：<%= @Item.email %></b>
</p>

<p>
  <b>画像：<%= @Item.image_url %></b>
</p>
